<jqxWindow #window
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="320"
           (onClose)="onClose()"
           [height]="125"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div class="container">
    <label>{{ label }}</label>
    <jqxInput
      style="margin-top: 4px;"
      [width]="'100%'"
      [height]="25"
      (keypress)="onKeyPress($event)"
      #input
    >
    </jqxInput>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close()"
                   [imgSrc]='"./nexl/site/images/close.png"'
                   [auto-create]="false"
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="isValueSet = true ; window.close();"
                   [auto-create]="false"
                   [disabled]="input.val().length < 1"
                   [imgSrc]='"./nexl/site/images/ok.png"'
                   #okButton
        >
          Ok
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
