<jqxWindow #window
           class="second-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="500"
           (onClose)="onClose()"
           [height]="100"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div class="container">
    <div style="text-align: center;">{{ label }}</div>

    <jqxCheckBox
      style="margin-left: 10px; margin-top: 15px;"
      #checkBox
    >
      {{ checkBoxText }}
    </jqxCheckBox>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close()"
                   [imgSrc]='"./nexl/site/images/close.png"'
                   [auto-create]="false"
                   #cancelButton>
          No
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="isConfirmed = true ; window.close();"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/images/ok.png"'
                   #okButton
        >
          Yes
        </jqxButton>
      </div>
    </div>

  </div>
</jqxWindow>
