<jqxExpander
  #expander
  width="100%"
  height="100%"
  [showArrow]="false"
  [toggleMode]="'none'"
  [disabled]="true"
>
  <div>
    <jqxTooltip
      style="float: left;"
      #readOnlyFilesToolTip
      [content]="'Read only files'"
      [position]="'bottom-right'"
      [closeOnClick]="false"
      [autoHide]="true"
      [autoHideDelay]="99999"
      [animationShowDelay]="400"
      [showDelay]="600"
      [trigger]="'hover'"
      [height]="25"
    >
      <img src='./nexl/site/images/lock.png' id="jsFilesLockIcon" style="position: relative; top: 3px; left: 3px;"/>
    </jqxTooltip>

    <div style="float: left; position: relative; top: 3px; left: 7px;">JavaScript files explorer</div>
  </div>
  <div style="overflow: hidden;">
    <jqxTree
      #tree
      (onInitialized)="init()"
      width="100%"
      height="100%"
      [source]="treeSource"
      (onExpand)="onExpand($event)"
      [auto-create]="false"
    ></jqxTree>

    <jqxMenu #popupMenu [width]="120" [height]="112" [autoOpenPopup]="false"
             [mode]="'popup'">
      <ul>
        <li (click)="newDir()" id="popup-new-dir">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/new-dir.png'/><span>New Dir</span>
        </li>
        <li (click)="newFile()" id="popup-new-file">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/new-file.png'/><span>New File</span>
        </li>
        <li (click)="renameItem()" id="popup-rename-item">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/rename.png'/><span>Rename</span>
        </li>
        <li (click)="deleteItem()" id="popup-delete-item">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/delete.png'/><span>Delete</span>
        </li>
      </ul>
    </jqxMenu>
  </div>
</jqxExpander>
