<jqxExpander
  #expander
  width="100%"
  height="100%"
  [showArrow]="false"
  [toggleMode]="'none'"
  [disabled]="true"
>
  <div>
    <img src='./nexl/site/images/lock.png' title="Read only files" id="jsFilesLockIcon"
         style="position: relative; left: 3px;"/>
    <span style="position: relative; top: -1px; left: 4px;">JavaScript files explorer</span>
  </div>
  <div style="overflow: hidden;">
    <jqxTree
      #tree
      (onInitialized)="init()"
      width="100%"
      height="100%"
      [source]="treeSource"
      (onExpand)="onExpand($event)"
      [auto-create]="false"
    ></jqxTree>

    <jqxMenu #popupMenu [width]="120" [height]="112" [autoOpenPopup]="false"
             [mode]="'popup'">
      <ul>
        <li (click)="newDir()" id="popup-new-dir">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/new-dir.png'/><span>New Dir</span>
        </li>
        <li (click)="newFile()" id="popup-new-file">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/new-file.png'/><span>New File</span>
        </li>
        <li (click)="renameItem()" id="popup-rename-item">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/rename.png'/><span>Rename</span>
        </li>
        <li (click)="deleteItem()" id="popup-delete-item">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/delete.png'/><span>Delete</span>
        </li>
      </ul>
    </jqxMenu>
  </div>
</jqxExpander>
