.nexl-logo {
  background-image: url(/nexl/site/images/nexl-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 221px;
  height: 81px;
  display: inline-block;
  margin-top: 17px;
}
