.nexl-logo {
  background-image: url("/nexl/site/images/nexl-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 221px;
  height: 157px;
  display: inline-block;
  margin: -33px;
}
