<app-login #loginWindow></app-login>
<app-register #registerWindow></app-register>

<div class="item" [style.display]="isLoginVisible ? '' : 'none'">
  <jqxTooltip [position]="'bottom-left'" [content]="'Register a new nexl user or reset password'">

    <jqxButton [height]='32'
               [width]='140'
               (click)='registerWindow.open()'
               [textImageRelation]='"imageBeforeText"'
               [textPosition]='"left"'
               [imgSrc]='"./nexl/site/images/register.png"'
    >
      Register/Reset
    </jqxButton>

  </jqxTooltip>
</div>

<div class="item" [style.display]="isLoginVisible ? '' : 'none'">
  <jqxTooltip [position]="'bottom-left'" [content]="'nexl login'">

    <jqxButton [width]='140'
               [height]='32'
               (click)='loginWindow.open()'
               [textImageRelation]='"imageBeforeText"'
               [textPosition]='"left"'
               [imgSrc]='"./nexl/site/images/login.png"'
    >
      nexl login
    </jqxButton>

  </jqxTooltip>
</div>

<div class="item" [style.display]="isLoginVisible ? 'none' : ''">
  <jqxMenu #authMenuRef [height]="30" [showTopLevelArrows]="true">
    <ul>
      <li id="menu-direction">
        <span>Hello, {{ username }}</span>
        <ul>
          <li (click)="logout()">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/images/logout.png'/><span>Logout</span>
          </li>
        </ul>
      </li>
    </ul>
  </jqxMenu>
</div>
