<div class="container">
  <h4 style="text-align: center">Admins</h4>

  <div style="float:left">
    Click
    <jqxButton (click)="addNewItem()">here</jqxButton>
    to add new record&nbsp;
  </div>

  <div class="tooltip">
    <jqxTooltip
      [position]="'mouse'"
      [autoHideDelay]="999999999"
      [content]="tooltipText">
      <img src='./nexl/site/icons/info.png' style="position: relative; top: 3px;"/>
    </jqxTooltip>
  </div>

  <div class="space"></div>

  <div id="adminsGrid"></div>

</div>
