<jqxExpander [height]="85" [showArrow]="false" [toggleMode]="'none'">

    <div>nexl expressions tester</div>

    <div class="nexl-expressions-container">
        <div>
            <div class="nexl-expression-label">nexl expression</div>

            <div style="width:calc(100% - 240px); height:25px;float: left;">
                <jqxComboBox
                        width="100%"
                        [searchMode]="'startswith'"
                        [dropDownVerticalAlignment]="'top'"
                        [source]="['${test}', '${ifcs.main}', '${@1}', '${person}']" [selectedIndex]='0'>
                </jqxComboBox>
            </div>

            <div class="nexl-expression-buttons" style="margin-left:4px;">
                <jqxButton [width]='60' [height]='27' class="nexl-expression-buttons"
                           [imgSrc]='"/nexl/site/images/eval.png"' (onClick)="eval()">
                </jqxButton>
            </div>

            <div class="nexl-expression-buttons">
                <jqxButton [width]='27' [height]='27' class="nexl-expression-buttons"
                           [imgSrc]='"/nexl/site/images/assemble.png"' (onClick)="assemble()">
                </jqxButton>
            </div>

            <div class="nexl-expression-buttons">
                <jqxButton [width]='27' [height]='27' class="nexl-expression-buttons"
                           [imgSrc]='"/nexl/site/images/args.png"' (onClick)="args()">
                </jqxButton>
            </div>

        </div>

        <div class="nexl-url-container">
            <div class="nexl-url-label">URL</div>
            <div><a href="http://nexl-server:8080/interfaces.js?expression=${{'{test}'}}" target="_blank">http://nexl-server:8080/interfaces.js?expression=${{'{test}'}}</a>
            </div>
        </div>

    </div>
</jqxExpander>

<jqxExpander height="100%" [showArrow]="false" [toggleMode]="'none'">

    <div>Output</div>

    <div>
                    <textarea readonly class="output-textarea">
blabla
asdasd
123123
                    </textarea>
    </div>
</jqxExpander>