<div class="item">
    <jqxButton [height]='32' [width]="94"
               [textImageRelation]='"imageBeforeText"' [textPosition]='"center"' [imgSrc]='"/nexl/site/images/register.png"'>
        Register
    </jqxButton>
</div>

<div class="item">
    <jqxButton [height]='32' [width]="94"
               [textImageRelation]='"imageBeforeText"' [textPosition]='"center"' [imgSrc]='"/nexl/site/images/login.png"'>
        Login
    </jqxButton>
</div>

<div class="item" #item>
    <jqxMenu #authMenuRef [height]="30" [showTopLevelArrows]="true">
        <ul>
            <li id="menu-direction">
                <a href="#">Hello, Liam</a>
                <ul>
                    <li (click)="item.style.display='none';">
                        <img style='float: left; margin-right: 5px;' src='/nexl/site/images/logout.png' /><span>Logout</span>
                    </li>
                </ul>
            </li>
        </ul>
    </jqxMenu>
</div>
