<div class="container">
  <div class="field">
    <label>nexl home dir</label>
    <jqxInput
      [disabled]="true"
      [width]="204"
      [height]="25">
    </jqxInput>
    <jqxTooltip
      style="display: inline-block; position: relative; top: 4px;"
      [position]="'mouse'"
      [autoHideDelay]="100000"
      [content]="'<p style=\'text-align: left;\'> nexl home directory contains nexl settings, authentication data and log file(s)<br/> nexl home directory can be specified as a run argument to nexl server in the following way:<br/> <span style=\'margin-left:30px; font-style: italic\'>nexl --nexl-home=/path/to/nexl/home/dir</span><br/> This argument might be usefull if you need to start multiple nexl server instances<br/> By default nexl server uses a [${HOME}/.nexl] directory </p>'">
      <img src='/nexl/site/images/tooltip.png'/>
    </jqxTooltip>
  </div>

  <div class="field">
    <label>nexl sources dir</label>
    <jqxInput
      [width]="204"
      [height]="25">
    </jqxInput>
    <jqxTooltip
      style="display: inline-block; position: relative; top: 4px;"
      [position]="'mouse'"
      [autoHideDelay]="100000"
      [content]="'<p style=\'text-align: left;\'> nexl sources directory contains JavaScript files to be exposed by nexl server via REST<br/> Those files appear in [nexl sources explorer] window<br/> For example, the [weight] variable from [examples.js] file located in the nexl sources dir<br/> will be exposed via REST in the following way :<br/> <span style=\'margin-left:30px; font-style: italic\'>http://your-nexl-server:3000/examples.js?expression=${weight}</span> </p>'">
      <img src='/nexl/site/images/tooltip.png'/>
    </jqxTooltip>
  </div>

  <div class="field" style="margin-top: 15px;">
    <label>nexl sources path</label>
    <div style="width: 100px;float: left;">
      <jqxButton [height]='28'
                 [width]='40'
                 [textPosition]='"center"'
                 (click)="path.open()"
                 style="position: relative; top: -3px;"
                 #cancelButton>
        ...
      </jqxButton>
    </div>
    <jqxTooltip
      style="display: inline-block; position: relative; top: 4px; left: 108px;"
      [position]="'mouse'"
      [autoHideDelay]="100000"
      [content]="'<p style=\'text-align: left;\'> Directories listed in nexl sources path will be also exposed by nexl server via REST ( similarly to nexl sources dir )<br/> Files from those directories can be included to another nexl sources with @ directive </p>'">
      <img src='/nexl/site/images/tooltip.png'/>
    </jqxTooltip>
  </div>

  <div class="field" style="margin-top: 15px;">
    <label>nexl sources encoding</label>
    <div style="width: 200px;float: left">
      <jqxDropDownList
        [width]="200"
        [height]="25"
        [dropDownHeight]="53"
        [source]="encodings"
        [selectedIndex]="0">
      </jqxDropDownList>
    </div>
    <jqxTooltip
      style="display: inline-block; position: relative; top: 4px; left: 8px;"
      [position]="'mouse'"
      [autoHideDelay]="100000"
      [content]="''">
      <img src='/nexl/site/images/tooltip.png'/>
    </jqxTooltip>
  </div>

  <div class="field" style="margin-top: 17px;">
    <label>HTTP timeout</label>
    <jqxInput
      [width]="204"
      [height]="25">
    </jqxInput>
    <jqxTooltip
      style="display: inline-block; position: relative; top: 4px;"
      [position]="'mouse'"
      [autoHideDelay]="100000"
      [content]="''">
      <img src='/nexl/site/images/tooltip.png'/>
    </jqxTooltip>
  </div>

  <div class="field">
    <label>LDAP authentication</label>
    <jqxInput
      [width]="204"
      [height]="25">
    </jqxInput>
    <jqxTooltip
      style="display: inline-block; position: relative; top: 4px;"
      [position]="'mouse'"
      [autoHideDelay]="100000"
      [content]="''">
      <img src='/nexl/site/images/tooltip.png'/>
    </jqxTooltip>
  </div>
</div>

<app-path #path></app-path>
