.app-nexl-logo {
    float: left;
}

.app-main-menu {
    float: left;
    position: relative;
    top: 8px;
    left: 7px;
}

.app-auth-menu {
    float: right;
    position: relative;
    top: 8px;
}
