<jqxWindow #window
           class="second-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="500"
           (onClose)="onClose()"
           [height]="220"
           [initContent]="initContent"
>

  <div>{{ title }}</div>

  <div class="container">

    <jqxValidator #webhookValidator
                  [rules]="webhookValidationRules"
                  [animationDuration]="0"
                  [hintType]="'label'"
                  (onValidationSuccess)="onValidationSuccess()"
                  (onValidationError)="onValidationError()"
    >
      <form id='webhookForm' action="./">

        <!-- relative path -->
        <div class="item">
          <label>Path</label>
          <jqxInput
            #relativePath
            [width]="width"
            [height]="25"
            id="relativePath"
            name="relativePath"
            [(ngModel)]="webhookData['relativePath']"
          >
          </jqxInput>
        </div>
        <div class="tooltip">
          <jqxTooltip
            [position]="'mouse'"
            [autoHideDelay]="999999999"
            [content]="'<p style=\'text-align: left;\'>Relative path to the file or directory to listen for changes</p>'">
            <img src='./nexl/site/icons/info.png'/>
          </jqxTooltip>
        </div>

        <div style="clear: both"></div>

        <!-- url -->
        <div class="item">
          <label>URL</label>
          <jqxInput
            #url
            [width]="width"
            [height]="25"
            id="url"
            name="url"
            [(ngModel)]="webhookData['url']"
          >
          </jqxInput>
        </div>
        <div class="tooltip">
          <jqxTooltip
            [position]="'mouse'"
            [autoHideDelay]="999999999"
            [content]="'<p style=\'text-align: left;\'>HTTP request URL</p>'">
            <img src='./nexl/site/icons/info.png'/>
          </jqxTooltip>
        </div>

        <div style="clear: both"></div>

        <!-- secret -->
        <div class="item">
          <label>Secret</label>
          <jqxPasswordInput
            #secret
            [width]="width"
            [height]="25"
            id="secret"
            name="secret"
            [(ngModel)]="webhookData['secret']"
          >
          </jqxPasswordInput>
        </div>
        <div class="tooltip">
          <jqxTooltip
            [position]="'mouse'"
            [autoHideDelay]="999999999"
            [content]="'<p style=\'text-align: left;\'>Optional secret to secure the HTTP request ( see documentation for details )</p>'">
            <img src='./nexl/site/icons/info.png'/>
          </jqxTooltip>
        </div>

        <div style="clear: both"></div>

      </form>
    </jqxValidator>

    <div class="buttons">

      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close();"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/icons/remove.png"'
                   #cancelButton
        >
          Cancel
        </jqxButton>
      </div>

      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="proceed()"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/icons/ok.png"'
                   #okButton
        >
          Ok
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
