<jqxWindow #loginWindow
           [autoOpen]="false"
           [initContent]="initContent"
           [isModal]="true"
           [resizable]="false"
           [width]="390"
           [height]="200"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/images/login.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">nexl login</span>
  </div>


  <div style="overflow: hidden;" #windowContent>

    <jqxValidator #validator [rules]="validationRules"
                  [animationDuration]="0"
                  [hintType]="'label'"
    >
      <form id='loginForm' action="./">
        <div class="block" style="padding-top: 25px;">
          <label>User name</label>
          <jqxInput
            id="username"
            name="username"
            #usernameRef
            [(ngModel)]="username"
            [height]="25"
            (keypress)="onKeyPress($event)"
          ></jqxInput>
        </div>

        <div class="block">
          <label>Password</label>
          <jqxPasswordInput
            id="password"
            name="password"
            #passwordRef
            [(ngModel)]="password"
            [height]="25"
            (keypress)="onKeyPress($event)"
          ></jqxPasswordInput>
        </div>

        <span #messageBox class="jqx-validator-error-label"></span>

        <div class="buttons">
          <div class="button">
            <jqxButton
              [height]='32'
              [width]="94"
              [textImageRelation]='"imageBeforeText"'
              [textPosition]='"center"'
              [imgSrc]='"./nexl/site/images/login.png"'
              [disabled]="username === '' || password === ''"
              [auto-create]="false"
              (click)="login()"
              #loginButton>
              Login
            </jqxButton>
          </div>
          <div class="button">
            <jqxButton
              [height]='32'
              [width]="94"
              [textImageRelation]='"imageBeforeText"'
              [textPosition]='"center"'
              [imgSrc]='"./nexl/site/images/close.png"'
              [auto-create]="false"
              (click)="loginWindow.close()"
              #cancelButton>
              Cancel
            </jqxButton>
          </div>

        </div>
      </form>
    </jqxValidator>

  </div>
</jqxWindow>
