<jqxWindow #changePasswordWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [initContent]="initContent"
           [isModal]="true"
           [resizable]="false"
           [width]="400"
           [height]="220"
>

  <div>
    <img src="./nexl/site/icons/reset-password.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Change password</span>
  </div>


  <div style="overflow: hidden;" #windowContent>

    <jqxValidator #validator [rules]="validationRules"
                  [animationDuration]="0"
                  [hintType]="'label'"
    >
      <form id='changePasswordForm' action="./">

        <!--currentPassword-->
        <div class="block" style="padding-top: 20px;">
          <label>Current password</label>
          <jqxPasswordInput
            id="currentPassword"
            name="currentPassword"
            #currentPasswordRef
            [(ngModel)]="currentPassword"
            [width]="width"
            [height]="25"
            (keypress)="onKeyPress($event)"
          ></jqxPasswordInput>
        </div>

        <!--newPassword-->
        <div class="block">
          <label>New password</label>
          <jqxPasswordInput
            id="newPassword"
            name="newPassword"
            #newPasswordRef
            [(ngModel)]="newPassword"
            [width]="width"
            [height]="25"
            (keypress)="onKeyPress($event)"
          ></jqxPasswordInput>
        </div>

        <!--confirm password-->
        <div class="block">
          <label>Confirm password</label>
          <jqxPasswordInput
            id="confirmPassword"
            name="confirmPassword"
            #confirmPasswordRef
            [(ngModel)]="confirmPassword"
            [width]="width"
            [height]="25"
            (keypress)="onKeyPress($event)"
          ></jqxPasswordInput>
        </div>

        <span #messageBox class="jqx-validator-error-label"></span>

        <div class="buttons">
          <div class="button">
            <jqxButton
              [height]='32'
              [width]="94"
              [textImageRelation]='"imageBeforeText"'
              [textPosition]='"center"'
              [imgSrc]='"./nexl/site/icons/remove.png"'
              [auto-create]="false"
              (onClick)="this.changePasswordWindow.close();"
              #cancelButton>
              Cancel
            </jqxButton>
          </div>
          <div class="button">
            <jqxButton
              [height]='32'
              [width]="94"
              [textImageRelation]='"imageBeforeText"'
              [textPosition]='"center"'
              [imgSrc]='"./nexl/site/icons/reset-password.png"'
              [disabled]="currentPassword === '' || newPassword === '' || newPassword !== confirmPassword"
              [auto-create]="false"
              (click)="changePassword()"
              #okButton>
              Change
            </jqxButton>
          </div>

        </div>
      </form>
    </jqxValidator>

  </div>
</jqxWindow>
