<div id="container">

  <app-loader></app-loader>
  <app-notification></app-notification>
  <app-inputbox></app-inputbox>
  <app-confirmbox></app-confirmbox>

  <div class="app-header"></div>

  <div class="clear"></div>

  <div class="app-content"></div>

  <app-splashscreen></app-splashscreen>

  <!--settings dialog windows-->
  <app-appearance></app-appearance>
  <app-permissions></app-permissions>
  <app-settings></app-settings>

  <!--auth dialog windows-->
  <app-login></app-login>
  <app-register></app-register>
  <app-generate-token></app-generate-token>
  <app-change-password></app-change-password>
</div>
