<div id="container">
  <div class="app-header"></div>
  <div class="clear"></div>
  <div class="app-content"></div>
</div>

<!--about-->
<app-about></app-about>

<!--settings dialog windows-->
<app-appearance></app-appearance>
<app-permissions></app-permissions>
<app-settings></app-settings>
<app-users></app-users>

<!--auth dialog windows-->
<app-login></app-login>
<app-register></app-register>
<app-change-password></app-change-password>

<!--global components-->
<app-loader></app-loader>
<app-inputbox></app-inputbox>
<app-confirmbox></app-confirmbox>
<app-messagebox></app-messagebox>
<app-findfile></app-findfile>
<app-findinfiles></app-findinfiles>
