<jqxWindow #window
           class="first-level-dialog"
           [autoOpen]="false"
           [width]="540"
           [height]="160"
           [initContent]="initContent"
           [isModal]="true"
           [resizable]="false"
           [showCloseButton]="false"
>

  <div>
    <img src="./nexl/site/icons/info.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Information</span>
  </div>

  <div class="container">
    <div class="item">
      <label>Name:</label>
      <span>{{ value.label }}</span>
    </div>

    <div class="item">
      <label>Relative path:</label>
      <span>{{ value.relativePath }}</span>
    </div>

    <div class="item" *ngIf="value.isDir !== true">
      <label>File status:</label>
      <span>{{ fileStatus }}</span>
    </div>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close()"
                   [imgSrc]='"./nexl/site/icons/ok.png"'
                   [auto-create]="false"
                   #okButton>
          Ok
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
