<jqxExpander
  [height]="85"
  [showArrow]="false"
  [toggleMode]="'none'"
  #expressionArea
  [disabled]="true"
>

  <div>nexl expressions tester</div>

  <div class="nexl-expressions-container">
    <div>
      <div class="nexl-expression-label">nexl expression</div>

      <div style="width:calc(100% - 240px); height:25px;float: left;">
        <jqxComboBox
          #nexlExpression
          width="100%"
          [searchMode]="'startswith'"
          [dropDownVerticalAlignment]="'top'"
          [source]="[]" [selectedIndex]='0'
          (keypress)="onKeyPress($event)"
          [disabled]="true"
        >
        </jqxComboBox>
      </div>

      <div class="nexl-expression-buttons" style="margin-left:4px;">
        <jqxButton
          #evalButton
          [width]='60'
          [height]='27'
          class="nexl-expression-buttons"
          [imgSrc]='"./nexl/site/images/eval.png"'
          (onClick)="eval()"
          [disabled]="true"
        >
        </jqxButton>
      </div>

      <div class="nexl-expression-buttons">
        <jqxButton
          #argsButton
          [width]='27'
          [height]='27'
          class="nexl-expression-buttons"
          [imgSrc]='"./nexl/site/images/args.png"'
          (onClick)="args()"
          [disabled]="true"
        >
        </jqxButton>
      </div>

      <div class="nexl-expression-buttons">
        <jqxButton
          #assembleButton
          [width]='27'
          [height]='27'
          class="nexl-expression-buttons"
          [imgSrc]='"./nexl/site/images/assemble.png"'
          (onClick)="assemble()"
          [disabled]="true"
        >
        </jqxButton>
      </div>

    </div>

    <div class="nexl-url-container">
      <div class="nexl-url-label">URL</div>
      <div><a href="http://nexl-server:8080/interfaces.js?expression=${{'{test}'}}" target="_blank">{{url}}</a>
      </div>
    </div>

  </div>
</jqxExpander>

<jqxExpander
  height="100%"
  [showArrow]="false"
  [toggleMode]="'none'"
  [disabled]="true"
  #outputArea
>

  <div>Output</div>

  <div>
    <textarea readonly class="output-textarea">{{output}}</textarea>
  </div>
</jqxExpander>

<app-args-window #argsWindow></app-args-window>
