<jqxNotification #successNotification
                 [position]="'bottom-right'"
                 [opacity]="0.9"
                 [autoOpen]="false"
                 [autoClose]="true"
                 [closeOnClick]="true"
                 [animationOpenDelay]="800"
                 [autoCloseDelay]="delay"
                 [template]="'success'"
>
  <div id="success-notification-text">
  </div>
</jqxNotification>

<jqxNotification #infoNotification
                 [position]="'bottom-right'"
                 [opacity]="0.9"
                 [autoOpen]="false"
                 [autoClose]="true"
                 [closeOnClick]="true"
                 [animationOpenDelay]="800"
                 [autoCloseDelay]="delay"
                 [template]="'info'"
>
  <div id="info-notification-text">
  </div>
</jqxNotification>

<jqxNotification #errorNotification
                 [position]="'bottom-right'"
                 [opacity]="0.9"
                 [autoOpen]="false"
                 [autoClose]="true"
                 [closeOnClick]="true"
                 [animationOpenDelay]="800"
                 [autoCloseDelay]="delay"
                 [template]="'error'"
>
  <div id="error-notification-text">
  </div>
</jqxNotification>
