<jqxWindow #window
           class="first-level-dialog"
           [autoOpen]="false"
           [width]="540"
           [height]="168"
           [initContent]="initContent"
           [isModal]="true"
           [resizable]="false"
           [showCloseButton]="false"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/icons/find-in-text.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Find in files</span>
  </div>

  <div class="container">

    <div class="findInputBox">
      <span>Text to find:</span>
      <jqxInput #text [width]="425" [height]="25">
      </jqxInput>
    </div>

    <div class="findInputBox">
      <span>Find in:</span>
      <jqxInput #findIn [width]="425" [height]="25" [value]="'/'"></jqxInput>
    </div>

    <div>
      <div class="findCheckBox leftSpace"></div>
      <div class="findCheckBox">
        <jqxCheckBox
          #matchCase
          [boxSize]="'12px;'"
        >Match case
        </jqxCheckBox>
      </div>

      <div class="findCheckBox">
        <jqxCheckBox
          #regex
          [boxSize]="'12px;'"
        >Regex
        </jqxCheckBox>
      </div>
    </div>
    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close()"
                   [imgSrc]='"./nexl/site/icons/remove.png"'
                   [auto-create]="false"
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="onFind()"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/icons/find-in-text.png"'
                   #findButton
        >
          Find
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
