<jqxWindow #securityWindow
           [autoOpen]="true"
           [isModal]="true"
           [resizable]="false"
           [width]="500"
           [height]="300">

  <div #windowHeader>
    <img src="/nexl/site/images/security.png" style="margin-left: 5px;">
    <span style="position: relative; top: -5px;margin-left: 3px;">nexl security</span>
  </div>

  <div style="overflow: hidden;" #windowContent>
    <jqxTabs #tabsReference
             [width]='"100%"' [height]='"100%"' [position]='"top"'
             [animationType]='"none"' [selectionTracker]='false'>
      <ul>
        <li style="margin-left: 30px;">Admins</li>
        <li>Groups</li>
        <li>Permissions</li>
      </ul>
      <div>
        <app-security-admins></app-security-admins>
      </div>
      <div>
        <app-security-groups></app-security-groups>
      </div>
      <div>
        <app-security-permissions></app-security-permissions>
      </div>
    </jqxTabs>
  </div>
</jqxWindow>
