<jqxWindow #diffsWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [initContent]="initContent"
           (onResizing)="onWindowResize()"
           (onResized)="onWindowResize()"
           (onClose)="onWindowClose()"
           [isModal]="true"
           [resizable]="true"
           [width]="1200"
           [height]="650"
           [maxWidth]="9999"
           [maxHeight]="9999"
>

  <div>
    <img src="./nexl/site/icons/scale.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Diff</span>
  </div>
  <div style="overflow: hidden;" #windowContent>

    <div style="width: 100%;height: 30px;">
      <div style="float: left;">Your working copy</div>
      <div style="float: right;">Server copy</div>
    </div>

    <div id="diff-container" style="width: 100%;"></div>

    <div class="buttons">
      <div class="button">
        <jqxButton
          [height]='32'
          [width]="90"
          [textImageRelation]='"imageBeforeText"'
          [textPosition]='"center"'
          [imgSrc]='"./nexl/site/icons/remove.png"'
          [auto-create]="false"
          (onClick)="this.diffsWindow.close();"
          #closeWindow>
          Close
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton
          [height]='32'
          [width]="150"
          [textImageRelation]='"imageBeforeText"'
          [textPosition]='"center"'
          [imgSrc]='"./nexl/site/icons/save.png"'
          [auto-create]="false"
          (onClick)="this.diffsWindow.close();"
          #applyAndSave>
          Apply and save
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton
          [height]='32'
          [width]="130"
          [textImageRelation]='"imageBeforeText"'
          [textPosition]='"center"'
          [imgSrc]='"./nexl/site/icons/ok.png"'
          [auto-create]="false"
          (onClick)="this.diffsWindow.close();"
          #applyChanges>
          Apply changes
        </jqxButton>
      </div>

    </div>
  </div>
</jqxWindow>
