<jqxWindow #diffsWindows
           class="first-level-dialog"
           [autoOpen]="false"
           [initContent]="initContent"
           (onResizing)="onWindowResize()"
           [isModal]="false"
           [resizable]="true"
           [width]="600"
           [height]="400"
           [maxWidth]="9999"
           [maxHeight]="9999"
>

  <div>
    <img src="./nexl/site/icons/scale.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Diff</span>
  </div>
  <div style="overflow: hidden;" #windowContent>
    <div>
      <div id="diff-container"></div>
    </div>

    <div class="buttons">
      <div class="button">
        <jqxButton
          [height]='32'
          [width]="90"
          [textImageRelation]='"imageBeforeText"'
          [textPosition]='"center"'
          [imgSrc]='"./nexl/site/icons/remove.png"'
          [auto-create]="false"
          (onClick)="this.diffsWindows.close();"
          #closeWindow>
          Close
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton
          [height]='32'
          [width]="150"
          [textImageRelation]='"imageBeforeText"'
          [textPosition]='"center"'
          [imgSrc]='"./nexl/site/icons/save.png"'
          [auto-create]="false"
          (onClick)="this.diffsWindows.close();"
          #applyAndSave>
          Apply and save
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton
          [height]='32'
          [width]="130"
          [textImageRelation]='"imageBeforeText"'
          [textPosition]='"center"'
          [imgSrc]='"./nexl/site/icons/ok.png"'
          [auto-create]="false"
          (onClick)="this.diffsWindows.close();"
          #applyChanges>
          Apply changes
        </jqxButton>
      </div>

    </div>
  </div>
</jqxWindow>
