<jqxWindow #findFileWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [width]="450"
           [height]="120"
           [initContent]="initContent"
           (onOpen)="onOpen()"
           [isModal]="true"
           [resizable]="false"
           [showCloseButton]="false"
>

  <div>
    <img src="./nexl/site/icons/find.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Find file</span>
  </div>

  <div class="container">
    <jqxComboBox
      #input
      style="margin-top: 4px;"
      [width]="'100%'"
      [height]="25"
      [placeHolder]="'Start typing file name'"
      [source]="source"
      [autoComplete]="true"
      [searchMode]="'containsignorecase'"
      [showArrow]="false"
      (onClose)="loadFileFromStorage()"
    >
    </jqxComboBox>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="findFileWindow.close()"
                   [imgSrc]='"./nexl/site/icons/remove.png"'
                   [auto-create]="false"
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
