body {
    min-height: 100%;
    min-width: 600px;
    width: auto !important;
    width: 600px;
}

#menu-container {
    margin-top: 10px;
}

#nexl-logo {
    float: left;
}

#nexl-logo a {
    background-image: url("images/nexl-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    display: block;
}

#nexl-main-menu {
    visibility: hidden;
    margin-left: 5px;
    float: left;
    position: relative;
    top: 10px;
}

#auth {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#expression-area {
    margin: 3px;
}

#expression-area img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}
