body {
    min-height: 100%;
    min-width: 600px;
    width: auto !important;
    width: 600px;
}

#menu-container {
    margin-top: 10px;
}

#nexl-logo {
    float: left;
}

#nexl-logo a {
    background-image: url("images/nexl-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    display: block;
}

/*--------------------------------------------------------------------------------------------------------------*/
/* menu */

#nexl-main-menu {
    visibility: hidden;
    margin-left: 5px;
    float: left;
    position: relative;
    top: 10px;
}

#nexl-main-menu ul li {
    margin-right: 5px;
}

#main-menu-new-dir img {
    content: url(images/new-dir.png);
}

#main-menu-new-file img {
    content: url(images/new-file.png);
}

#main-menu-save img {
    content: url(images/save.png);
}

#main-menu-reload img {
    content: url(images/reload.png);
}

#main-menu-close img, #main-menu-close-all img {
    content: url(images/empty-img.png);
}

#main-menu-args img {
    content: url(images/args.png);
}

#main-menu-examples img {
    content: url(images/example.png);
}

#main-menu-tour img {
    content: url(images/tour.png);
}

#main-menu-eval img {
    content: url(images/eval.png);
}

#main-menu-wizard img {
    content: url(images/assemble.png);
}

#main-menu-settings img {
    float: left;
    margin-right: 5px;
    content: url(images/settings.png);
}

#main-menu-about img {
    float: left;
    margin-right: 5px;
    content: url(images/about.png);
}

#auth-menu-container {
    float: right;
    padding-right: 15px;
    position: relative;
    top: 11px;
}

#auth-menu-login img {
    content: url(images/login.png);
    float: left;
    margin-right: 5px;
}

#auth-menu-register img {
    content: url(images/register.png);
    float: left;
    margin-right: 5px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/* args */
#args-wnd {
    display: none;
}

#args-wnd-header span img {
    margin-right: 15px;
    content: url(images/args.png);
}

#args-wnd-content {
    overflow: hidden;
}

/*--------------------------------------------------------------------------------------------------------------*/
/* nexl sources */

#nexl-sources {
    border: none;
    visibility: hidden;
    float: left;
}

#popup-menu ul li img {
    margin-right: 5px;
}

#popup-menu-new-dir img {
    content: url(images/args.png);
}

#popup-menu-new-file img {
    content: url(images/new-file.png);
}

#popup-menu-delete img {
    content: url(images/delete.png);
}

#popup-menu-rename img {
    content: url(images/empty-img.png);
}

/*--------------------------------------------------------------------------------------------------------------*/
#tabbed-editor ul {
    margin-left: 30px;
}

/*--------------------------------------------------------------------------------------------------------------*/

#expression-area {
    margin: 3px;
    float: left;
    width: 100%;
}

#expression-area img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}

#nexl-expressions-container {
    margin: 4px 0 4px 4px;
    border: none;
}

#nexl-expression-label {
    width: 115px;
    float: left;
    position: relative;
    top: 5px;
}

#nexl-expression-combo {
    float: left;
    margin-right: 2px;
}

.nexl-expression-buttons {
    float: left;
    margin-right: 2px;
}

#nexl-url-container {
    clear: both;
    padding-top: 3px;
}

#nexl-url-label {
    width: 115px;
    float: left;
}

#output-textarea {
    resize: none;
    width: calc(100% - 6px);
    height: calc(100% - 89px);
}