.container {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
}

.app-nexl-sources-explorer {
}

.app-nexl-sources-editor {
}

.app-nexl-expressions-tester {
    border: 1px solid red;
}