(1)
.wrap {
    width: 100%;
    border: 1px brown solid;
}

.wrap div {
    float: left;
}

.resizable1 {
    width: 50%;
    height: 120px;
    padding: 0.5em;
}

.resizable2 {
    background-color: lightblue;
    height: 120px;
}

(2)
<div class="wrap">
    <div class="resizable resizable1"></div>
    <div class="resizable resizable2"></div>
</div>



(3)
    module.jqueryEResizable.start('.resizable', {minWidth:600});

