<jqxWindow #window
           class="second-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="500"
           (onClose)="onClose()"
           [height]="120"
           [initContent]="initContent"
>

  <div>
    <div id="msgBoxHeaderIcon"></div>
    <div id="messageBoxTitle"></div>
  </div>


  <div class="container">
    <div style="text-align: center;">{{ opts.label }}</div>

    <jqxCheckBox
      style="margin-left: 10px; margin-top: 15px;"
      #checkBox
    >
      {{ opts.checkBoxText || ''}}
    </jqxCheckBox>
    <div class="buttons">

      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close();"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/icons/ok.png"'
                   #okButton
        >
          Ok
        </jqxButton>
      </div>
    </div>

  </div>
</jqxWindow>
