<jqxMenu #mainMenuRef [width]="350" [height]="30" [showTopLevelArrows]="true">
  <ul>
    <!-- ------------------------------------------------------------------------->
    <!--File menu-->
    <li>
      <span>File</span>
      <ul style="width:160px;">
        <li (click)="saveNexlSource()" id="main-menu-save">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/save.png'/><span>Save</span>
        </li>
        <li (click)="closeAllTabs()" id='main-menu-close-all'>
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/close-tab.png'/><span>Close all</span>
        </li>
      </ul>
    </li>

    <!-- ------------------------------------------------------------------------->
    <!--View menu-->
    <li>
      <span>View</span>
      <ul style="width:160px;">
        <li (click)="this.openAppearanceWindow()" id="main-menu-appearance">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/appearance.png'/><span>Appearance</span>
        </li>
        <li (click)="this.openPermissionsWindow()" id="main-menu-permissions">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/permissions.png'/><span>Permissions</span>
        </li>
        <li (click)="this.openSettingsWindow()" id="main-menu-settings">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/settings.png'/><span>Settings</span>
        </li>
      </ul>
    </li>

    <!-- ------------------------------------------------------------------------->
    <!--Expression menu-->
    <li>
      <span>Expression</span>
      <ul style="width:160px;">
        <li (click)="toggleArgsWindow()">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/args.png'/><span>Arguments ( F8 )</span>
        </li>
        <li (click)="evaluateNexlExpression()">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/eval.png'/><span>Evaluate ( F9 )</span>
        </li>
        <li>
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/assemble.png'/><span>Wizard</span>
        </li>
      </ul>
    </li>

    <!-- ------------------------------------------------------------------------->
    <!--Help menu-->
    <li>
      <span>Help</span>
      <ul style="width:160px;">
        <li (click)="createExamplesFile()">
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/example.png'/><span>Examples</span>
        </li>
        <li>
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/tour.png'/><span>Quick tour</span>
        </li>
        <li>
          <img style='float: left; margin-right: 5px;'
               src='./nexl/site/images/about.png'/><span>About</span>
        </li>
      </ul>
    </li>
  </ul>
</jqxMenu>
