<div class="main-menu">
  <jqxMenu
    #mainMenuRef
    [width]="350"
    [height]="30"
    [showTopLevelArrows]="true"
  >
    <ul>
      <!-- ------------------------------------------------------------------------->
      <!--File menu-->
      <li>
        <span>File</span>
        <ul style="width:235px;">
          <li (click)="saveFileToStorage()" id="main-menu-save">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/save.png'/>
            <div class="left">Save</div>
            <div class="right">Ctrl+S</div>
          </li>
          <li (click)="prettifyFile()" id="main-menu-prettify">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/rose.png'/>
            <div class="left">Prettify file</div>
            <div class="right">F7</div>
          </li>
          <li (click)="findFile()" id="main-menu-find-file">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/find.png'/>
            <div class="left">Find file</div>
            <div class="right">Alt+F7</div>
          </li>
          <li (click)="findInFiles()" id="main-menu-find-in-files">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/find-in-text.png'/>
            <div class="left">Find in files</div>
            <div class="right">Ctrl+Alt+F7</div>
          </li>
          <li (click)="closeAllTabs()" id='main-menu-close-all'>
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/close.png'/><span>Close all</span>
          </li>
        </ul>
      </li>

      <!-- ------------------------------------------------------------------------->
      <!--View menu-->
      <li>
        <span>View</span>
        <ul style="width:160px;">
          <li (click)="this.openAppearanceWindow()" id="main-menu-appearance">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/paint.png'/><span>Appearance</span>
          </li>
          <li (click)="this.openPermissionsWindow()" id="main-menu-permissions">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/user-security.png'/><span>Permissions</span>
          </li>
          <li (click)="this.openUsersWindow()" id="main-menu-users">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/users.png'/><span>Users</span>
          </li>
          <li (click)="this.openSearchResults()" id="main-menu-search-results">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/search-results.png'/><span>Search results</span>
          </li>
          <li (click)="this.webhooks()" id="main-menu-webhooks">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/webhook.png'/><span>Webhooks</span>
          </li>
          <li (click)="this.openSettingsWindow()" id="main-menu-settings">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/settings.png'/><span>Settings</span>
          </li>
        </ul>
      </li>

      <!-- ------------------------------------------------------------------------->
      <!--Expression menu-->
      <li>
        <span>HTTP request</span>
        <ul style="width:210px;">
          <li (click)="toggleArgsWindow()" id="main-menu-arguments">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/cmd-line.png'/>
            <div class="left">Arguments</div>
            <div class="right">F8</div>
          </li>
          <li (click)="evaluateNexlExpression()" id="main-menu-evaluate">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/play.png'/>
            <div class="left">Test HTTP request</div>
            <div class="right">F9</div>
          </li>
        </ul>
      </li>

      <!-- ------------------------------------------------------------------------->
      <!--Help menu-->
      <li>
        <span>Help</span>
        <ul style="width:160px;">
          <li (click)="openNexlDemo()">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/youtube.png'/><span>nexl demo</span>
          </li>
          <li (click)="openAboutWindow()">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/info.png'/><span>About</span>
          </li>
        </ul>
      </li>
    </ul>
  </jqxMenu>
</div>
