<div style="width:100%; height:100%;">
  <jqxSplitter [width]="'100%'"
               [height]="'100%'"
               (onResize)="onSplitterResized()"
               (onCollapsed)="onSplitterCollapsed()"
               (onExpanded)="onSplitterExpanded()"
               #expressionSplitter
  >
    <div>
      <jqxExpander
        [height]="85"
        [showArrow]="false"
        [toggleMode]="'none'"
        #expressionArea
        [disabled]="true"
      >

        <div style="text-align: center; font-size: 14px; width: 100%;">HTTP requests builder and tester</div>

        <div class="nexl-expressions-container">
          <div>
            <div class="nexl-expression-label">nexl expression</div>

            <div style="width:calc(100% - 245px); height:25px;float: left;">
              <jqxComboBox
                #nexlExpression
                [width]="'100%'"
                [height]="25"
                (keypress)="onKeyPress($event)"
                (onOpen)="nexlExpreessionOnOpen($event)"
                [disabled]="true"
                [source]="source"
                [searchMode]="'none'"
                (onSelect)="onSelect()"
                (onChange)="onChange()"
              >
              </jqxComboBox>
            </div>

            <div class="nexl-expression-buttons" style="margin-left:4px;">
              <jqxTooltip
                [position]="'bottom-left'"
                [content]="'<p style=\'text-align: left;\'>Test HTTP request ( F9 )</p>'"
                [closeOnClick]="false"
                [autoHide]="true"
                [autoHideDelay]="999999999"
                [animationShowDelay]="400"
                [showDelay]="600"
                [trigger]="'hover'"
              >
                <jqxButton
                  #evalButton
                  [width]='60'
                  [height]='27'
                  class="nexl-expression-buttons"
                  [imgSrc]='"./nexl/site/icons/play.png"'
                  (onClick)="eval()"
                  [disabled]="true"
                >
                </jqxButton>
              </jqxTooltip>
            </div>

            <div class="nexl-expression-buttons">
              <jqxTooltip
                [position]="'bottom-left'"
                [content]="'<p style=\'text-align: left;\'>Arguments ( F8 )</p>'"
                [closeOnClick]="false"
                [autoHide]="true"
                [autoHideDelay]="999999999"
                [animationShowDelay]="400"
                [showDelay]="600"
                [trigger]="'hover'"
              >
                <jqxButton
                  #argsButton
                  [width]='60'
                  [height]='27'
                  class="nexl-expression-buttons"
                  [imgSrc]='"./nexl/site/icons/cmd-line.png"'
                  (onClick)="args()"
                  [disabled]="true"
                >
                </jqxButton>
              </jqxTooltip>
            </div>

          </div>
          <div class="nexl-url-container">
            <div class="nexl-url-label">
              <jqxTooltip
                [position]="'bottom-left'"
                [content]="'<p style=\'text-align: left;\'>Automatically generated HTTP request URL based on currently opened JavaScript file name, expression and arguments ( if provided ).</p>'"
                [closeOnClick]="false"
                [autoHide]="true"
                [autoHideDelay]="999999999"
                [animationShowDelay]="400"
                [showDelay]="600"
                [trigger]="'hover'"
              >
                URL
              </jqxTooltip>
            </div>
            <div>
              <a href="#" class="jqx-widget" (click)="onUrlClick()" target="_blank">{{ url }}</a>
            </div>
          </div>
        </div>
      </jqxExpander>
      <jqxExpander
        height="100%"
        [showArrow]="false"
        [toggleMode]="'none'"
        [disabled]="true"
        #outputArea
      >

        <div>
          <div style="float: left; position: relative; top: 3px;">Output |</div>
          <jqxToggleButton
            #prettifyButton
            (onClick)="onPrettify()"
            [toggled]="true"
            title="Prettifies JavaScript arrays and objects in output area"
          >
            Prettify
          </jqxToggleButton>
        </div>
        <div>
          <textarea readonly class="output-textarea">{{output}}</textarea>
        </div>
      </jqxExpander>
    </div>
    <div>
      <jqxExpander
        [height]="'100%'"
        [showArrow]="false"
        [toggleMode]="'none'"
        #executionHistory
      >

        <div style="text-align: center; font-size: 14px; width: 100%;">HTTP requests execution history</div>

        <div>
          <jqxListBox #executionHistoryListBox
                      [source]="executionHistorySrc"
                      [width]="'calc( 100% - 3px )'"
                      [height]="'calc( 100% - 3px )'"
                      (onSelect)="executionHistoryItemSelected($event)"
          >
          </jqxListBox>
        </div>

      </jqxExpander>

    </div>
  </jqxSplitter>
</div>

<app-args-window #argsWindow></app-args-window>
