<div class="item" [style.display]="isLoginVisible ? '' : 'none'">
  <jqxTooltip [position]="'bottom-left'" [content]="'Register a new nexl user or reset password'" [autoHideDelay]="999999999">

    <jqxButton [height]='32'
               [width]='150'
               (click)='openRegisterWindow()'
               [textImageRelation]='"imageBeforeText"'
               [textPosition]='"left"'
               [imgSrc]='"./nexl/site/icons/add-user.png"'
    >
      Register/Reset
    </jqxButton>

  </jqxTooltip>
</div>

<div class="item" [style.display]="isLoginVisible ? '' : 'none'">
  <jqxButton [width]='150'
             [height]='32'
             (click)='openLoginWindow()'
             [textImageRelation]='"imageBeforeText"'
             [textPosition]='"left"'
             [imgSrc]='"./nexl/site/icons/login.png"'
    >
      login
    </jqxButton>
</div>

<div class="item" [style.display]="isLoginVisible ? 'none' : ''">
  <jqxMenu #authMenuRef [height]="31" [showTopLevelArrows]="true">
    <ul>
      <li id="menu-direction">

        <span>
          <img src='./nexl/site/icons/crown.png' [style.display]="isAdmin === true ? 'inline' : 'none'"
               class="user-or-admin-icon"/>
          <img src='./nexl/site/icons/user.png' [style.display]="!isAdmin === true ? 'inline' : 'none'"
               class="user-or-admin-icon"/>
          <span class="username">Hello, {{ username }}</span>
        </span>
        <ul style="width:170px;">
          <li (click)="openChangePasswordWindow()">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/reset-password.png'/><span>Change password</span>
          </li>
          <li (click)="logout()">
            <img style='float: left; margin-right: 5px;'
                 src='./nexl/site/icons/logout.png'/><span>Logout</span>
          </li>
        </ul>
      </li>
    </ul>
  </jqxMenu>
</div>
