<jqxWindow #window
           class="first-level-dialog"
           [autoOpen]="false"
           [width]="700"
           [height]="550"
           [initContent]="initContent"
           [isModal]="true"
           [resizable]="false"
           [showCloseButton]="true"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/icons/globe.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">HTTP requests</span>
  </div>

  <div class="container">

    <jqxNavigationBar [width]="690" [height]="450" #myNavigationBar [expandMode]="'toggle'">
    </jqxNavigationBar>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="window.close()"
                   [imgSrc]='"./nexl/site/icons/ok.png"'
                   [auto-create]="false"
                   #okButton>
          Ok
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
