div {
  height: 46px;
}

a {
  background-image: url(/nexl/site/images/favicon-32x32.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
  top: 8px;
  left: 2px;
  display: block;
  margin-right: 1px;
}
