a {
  background-image: url("/nexl/site/images/nexl-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 74px;
  height: 55px;
  display: block;
  position: relative;
  top: -3px;
  left: -8px;
}
