<jqxWindow #appearanceWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="500"
           [height]="200"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/icons/paint.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Appearance</span>
  </div>

  <div class="container">

    <jqxValidator #appearanceValidator
                  [rules]="appearanceValidationRules"
                  [animationDuration]="0"
                  [hintType]="'label'"
                  (onValidationSuccess)="onValidationSuccess()"
                  (onValidationError)="onValidationError()"
    >
      <form id='appearanceForm' action="./">

        <div style="margin-top: 5px;"></div>

        <!--Font size-->
        <div class="item">
          <label>Font size</label>
          <jqxInput
            #fontSize
            id="fontSize"
            name="fontSize"
            [width]="width"
            [height]="25"
            [(ngModel)]="appearanceData['font-size']"
          >
          </jqxInput>
        </div>
        <div class="tooltip">
          <jqxTooltip
            [position]="'mouse'"
            [autoHideDelay]="999999999"
            [content]="'<p style=\'text-align: left;\'>Files editor font size</p>'">
            <img src='./nexl/site/icons/info.png'/>
          </jqxTooltip>
        </div>


        <div style="clear: both"></div>

        <!--Theme-->
        <!--        <div class="item" style="margin-top: 10px;">
                  <label>Theme</label>
                  <jqxDropDownList
                    #theme
                    name="appearanceTheme"
                    id="appearanceTheme"
                    [width]="width"
                    [height]="25"
                    [dropDownHeight]="130"
                    [source]="themes"
                    [selectedIndex]="0"
                    [(ngModel)]="appearanceData['theme']"
                  >
                  </jqxDropDownList>
                </div>
                <div class="tooltip">
                  <jqxTooltip
                    [position]="'mouse'"
                    [autoHideDelay]="100000"
                    [content]="'<p style=\'text-align: left;\'></p>'">
                    <img src='./nexl/site/icons/tooltip.png'/>
                  </jqxTooltip>
                </div>
                <div style="clear: both"></div>-->

        <!--Max execution history items-->
        <div class="item">
          <label>Max execution history items</label>
          <jqxInput
            #maxExecutionHistoryItems
            id="maxExecutionHistoryItems"
            name="maxExecutionHistoryItems"
            [width]="width"
            [height]="25"
            [(ngModel)]="appearanceData['max-execution-history-items']"
          >
          </jqxInput>
        </div>
        <div class="tooltip">
          <jqxTooltip
            [position]="'mouse'"
            [autoHideDelay]="999999999"
            [content]="'<p style=\'text-align: left;\'>Max items count in [Execution history] window</p>'">
            <img src='./nexl/site/icons/info.png'/>
          </jqxTooltip>
        </div>
        <div style="clear: both"></div>

        <!--Autoscroll from source-->
        <div class="item">
          <label>Auto scroll from source</label>
          <jqxCheckBox
            [boxSize]="'12px;'"
            #autoscrollFromSource
            id="autoscrollFromSource"
            name="autoscrollFromSource"
            [width]="width"
            [height]="25"
            [(ngModel)]="appearanceData['autoscroll-from-source']"
          >
          </jqxCheckBox>
        </div>
        <div class="tooltip">
          <jqxTooltip
            [position]="'mouse'"
            [autoHideDelay]="999999999"
            [content]="'<p style=\'text-align: left;\'>File selected in the editor will be scrolled to and highlighted in the Storage files explorer</p>'">
            <img src='./nexl/site/icons/info.png'/>
          </jqxTooltip>
        </div>
        <div style="clear: both"></div>

      </form>
    </jqxValidator>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="appearanceWindow.close()"
                   [imgSrc]='"./nexl/site/icons/remove.png"'
                   [auto-create]="false"
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="save()"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/icons/save.png"'
                   #saveButton>
          Save
        </jqxButton>
      </div>
    </div>

  </div>
</jqxWindow>
