.key-value-editor {
    width: 620px;
    overflow-y: auto;
}

.key-value-editor .key-value-editor-item div {
    float: left;
    width: 280px;
    height: 25px;
    margin: 3px;
    border-bottom: 1px solid #ccc;
}

.key-value-editor .key-value-editor-item span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url("delete.png") no-repeat;
    margin-top: 7px;
}

.key-value-editor .key-value-editor-item span:hover {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}