<jqxWindow #usersWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="460"
           [height]="320"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/images/account.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Users</span>
  </div>

  <div>

    <div style="margin: 5px;">
      <div style="float:left">
        Click
        <jqxButton (click)="addNewItem()">here</jqxButton>
        to add a new empty record&nbsp;
      </div>

      <div style="clear: both; height: 5px;"></div>

      <jqxGrid
        #usersGrid
        [source]="usersDataAdapter"
        [columns]="usersColumns"
        [width]="'100%'"
        [height]="200"
        [columnsheight]="55"
        [filterable]="false"
        [sortable]="true"
        [editable]="true"
        [enablebrowserselection]="true"
      ></jqxGrid>
    </div>

    <div style="float:right;">
      <jqxButton [height]='32'
                 [width]="94"
                 [textImageRelation]='"imageBeforeText"'
                 [textPosition]='"center"'
                 [imgSrc]='"./nexl/site/images/ok.png"'
                 [auto-create]="false"
                 (onClick)="usersWindow.close()"
                 #closeButton>
        Close
      </jqxButton>
    </div>

  </div>
</jqxWindow>
