.button {
  float: right;
  margin-left: 5px;
}

.buttons {
  margin: 10px 0 0 0;
}

.container {
  overflow: hidden;
}

.item {
  width: 380px;
  float: left;
  margin-top: 10px;
  margin-left: 25px;
}

.item label {
  width: 180px;
  display: inline-block;
  float: left;
  position: relative;
  top: 5px;
}

.tooltip {
  display: inline-block;
  position: relative;
  left: -7px;
  top: 16px;
  float: left;
}
