<jqxWindow #settingsWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="600"
           [height]="400"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/icons/settings.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">nexl settings</span>
  </div>

  <div class="container">

    <jqxValidator
      #validator
      [rules]="validationRules"
      [animationDuration]="0"
      [hintType]="'label'"
      (onValidationSuccess)="onValidationSuccess()"
      (onValidationError)="onValidationError()"
    >
      <form id='validationForm' action="./">

        <jqxRibbon #ribbon
                   [width]="'100%'"
                   [height]="'315px'"
                   [auto-create]="false"
                   [animationType]="'none'"
                   [selectionMode]="'click'"
                   [position]="'left'"
                   (onSelect)="validate()"
        >
          <ul id="header" style="width: 150px;">
            <li>General</li>
            <li>LDAP</li>
            <li>Bindings & SSL</li>
            <li>Logger</li>
          </ul>

          <div>
            <!-- ------------------------------------------------------------------------------ -->
            <!--General-->
            <div>
              <!--nexl home dir-->
              <div class="item">
                <label>nexl home dir</label>
                <jqxInput
                  name="nexlHomeDir"
                  [(ngModel)]="settings[NEXL_HOME_DEF]"
                  [disabled]="true"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="nexlHomeDirToolTip">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--nexl storage dir dir-->
              <div class="item">
                <label>nexl storage dir</label>
                <jqxInput
                  id="nexlStorageDir"
                  name="nexlStorageDir"
                  [(ngModel)]="settings[SETTINGS.STORAGE_DIR]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Contains your JavaScript configuration files which are exposed via REST<br/> By default it\'s a sub directory of nexl home dir</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--storage files encoding-->
              <div class="item" style="margin-top: 15px;">
                <label>Storage files encoding</label>
                <jqxDropDownList
                  style="margin-top: -4px;"
                  name="storageFilesEncoding"
                  #storageFilesEncoding
                  [(ngModel)]="settings[SETTINGS.STORAGE_FILES_ENCODING]"
                  [width]="width - 50"
                  [height]="25"
                  [dropDownHeight]="53"
                  [source]="encodings"
                  [selectedIndex]="0">
                </jqxDropDownList>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Encoding to load and save JavaScript files</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--HTTP timeout-->
              <div class="item">
                <label>HTTP timeout (sec)</label>
                <jqxInput
                  #httpTimeout
                  id="httpTimeout"
                  name="httpTimeout"
                  [(ngModel)]="settings[SETTINGS.HTTP_TIMEOUT]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>HTTP and HTTPS server timeout in seconds</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--Session timeout-->
              <div class="item">
                <label>Session timeout (min)</label>
                <jqxInput
                  #sessionTimeout
                  id="sessionTimeout"
                  name="sessionTimeout"
                  [(ngModel)]="settings[SETTINGS.SESSION_TIMEOUT]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Authenticated session timeout</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>


              <div style="clear: both"></div>

              <!--JSONP-->
              <div class="item">
                <label>JSONP callback function</label>
                <jqxInput
                  #jsonp
                  id="jsonp"
                  name="jsonp"
                  [(ngModel)]="settings[SETTINGS.JSONP]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>A name of JSONP query param for callback function<br/>Leave this field empty to turn JSONP off</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--RAW_OUTPUT-->
              <div class="item">
                <label>Raw output</label>
                <jqxCheckBox
                  #rawOutput
                  [boxSize]="'12px;'"
                  id="rawOutput"
                  name="rawOutput"
                  [(ngModel)]="settings[SETTINGS.RAW_OUTPUT]"
                ></jqxCheckBox>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>When nexl expression is evaluating to string it will be enclosed with quotes<br\>By checking this option strings will be produced  without quotes</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>
            </div>

            <!-- ------------------------------------------------------------------------------ -->
            <!--LDAP-->
            <div>
              <!--LDAP auth-->
              <div class="item">
                <label>LDAP URL</label>
                <jqxInput
                  id="ldapUrl"
                  name="ldapUrl"
                  [(ngModel)]="settings[SETTINGS.LDAP_URL]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Configure at least [LDAP URL] and [Base DN] to perform LDAP authentication<br/>[LDAP URL] example : ldap://ldap.forumsys.com:389</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div class="item">
                <label>LDAP Base DN</label>
                <jqxInput
                  id="ldapBaseDN"
                  name="ldapBaseDN"
                  [(ngModel)]="settings[SETTINGS.LDAP_BASE_DN]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>For example : dc=example,dc=com</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div class="item">
                <label>LDAP Bind DN</label>
                <jqxInput
                  id="ldapBindDN"
                  name="ldapBindDN"
                  [(ngModel)]="settings[SETTINGS.LDAP_BIND_DN]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>For example : cn=read-only-admin,dc=example,dc=com</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div class="item">
                <label>LDAP Bind Password</label>
                <jqxPasswordInput
                  id="ldapBindPassword"
                  name="ldapBindPassword"
                  [(ngModel)]="settings[SETTINGS.LDAP_BIND_PASSWORD]"
                  [width]="width"
                  [height]="25">
                </jqxPasswordInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>For example : password</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div class="item">
                <label>Find By</label>
                <jqxInput
                  id="ldapFindBy"
                  name="ldapFindBy"
                  [(ngModel)]="settings[SETTINGS.LDAP_FIND_BY]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>For example : uid</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

            </div>

            <!-- ------------------------------------------------------------------------------ -->
            <!--Bindings & SSL-->
            <div>
              <div style="margin-top: 5px;"></div>
              <!--HTTP binding-->
              <div class="item">
                <label>HTTP binding</label>
                <jqxInput
                  #httpBinding
                  id="httpBinding"
                  name="httpBinding"
                  [(ngModel)]="settings[SETTINGS.HTTP_BINDING]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Host name or IP address for HTTP binding</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--HTTP port-->
              <div class="item">
                <label>HTTP port</label>
                <jqxInput
                  #httpPort
                  id="httpPort"
                  name="httpPort"
                  [(ngModel)]="settings[SETTINGS.HTTP_PORT]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>HTTP listening port</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <hr/>

              <!--HTTPS binding-->
              <div class="item">
                <label>HTTPS binding</label>
                <jqxInput
                  #httpsBinding
                  id="httpsBinding"
                  name="httpsBinding"
                  [(ngModel)]="settings[SETTINGS.HTTPS_BINDING]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Host name or IP address for HTTPS binding<br/>To make HTTPS work provide a [SSL key location] and [SSL cert location]</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--HTTPS port-->
              <div class="item">
                <label>HTTPS port</label>
                <jqxInput
                  #httpsPort
                  id="httpsPort"
                  name="httpsPort"
                  [(ngModel)]="settings[SETTINGS.HTTPS_PORT]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>HTTPS listening port</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--SSL key location-->
              <div class="item">
                <label>SSL key location</label>
                <jqxInput
                  #sslKeyLocation
                  id="sslKeyLocation"
                  name="sslKeyLocation"
                  [(ngModel)]="settings[SETTINGS.SSL_KEY_LOCATION]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Full path to SSL key file</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--SSL cert location-->
              <div class="item">
                <label>SSL cert location</label>
                <jqxInput
                  #sslCertLocation
                  id="sslCertLocation"
                  name="sslCertLocation"
                  [(ngModel)]="settings[SETTINGS.SSL_CERT_LOCATION]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Full path to SSL cert file</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--SSL CA location-->
              <div class="item">
                <label>SSL CA location</label>
                <jqxInput
                  #sslCertLocation
                  id="sslCALocation"
                  name="sslCALocation"
                  [(ngModel)]="settings[SETTINGS.SSL_CA_LOCATION]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Full path to SSL CA file</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>

            </div>

            <!-- ------------------------------------------------------------------------------ -->
            <!--Logger-->
            <div>
              <div style="margin-top: 5px;"></div>
              <!--Log file location-->
              <div class="item">
                <label>Log file location</label>
                <jqxInput
                  #logFileLocation
                  id="logFileLocation"
                  name="logFileLocation"
                  [(ngModel)]="settings[SETTINGS.LOG_FILE_LOCATION]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Full path to log files directory<br/>By default it\' located under the nexl home dir</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Log level-->
              <div class="item" style="margin-top: 10px;">
                <label>Log level</label>
                <jqxDropDownList
                  name="logLevel"
                  #logLevel
                  [(ngModel)]="settings[SETTINGS.LOG_LEVEL]"
                  [width]="width - 50"
                  [height]="25"
                  [dropDownHeight]="130"
                  [source]="logLevels"
                  [selectedIndex]="0">
                </jqxDropDownList>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>Default log level</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Log rotate file size-->
              <div class="item">
                <label>Log rotate file size, kb</label>
                <jqxInput
                  #logRotateFileSize
                  id="logRotateFileSize"
                  name="logRotateFileSize"
                  [(ngModel)]="settings[SETTINGS.LOG_ROTATE_FILE_SIZE]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>When log file exceeds a [Log rotate file size] it will be rolled<br/>Zero size will never roll the log file</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!-- Log rotate files count-->
              <div class="item">
                <label> Log rotate files count</label>
                <jqxInput
                  #logRotateFilesCount
                  id="logRotateFilesCount"
                  name="logRotateFilesCount"
                  [(ngModel)]="settings[SETTINGS.LOG_ROTATE_FILES_COUNT]"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="999999999"
                  [content]="'<p style=\'text-align: left;\'>The max amount of rolled log files<br/>Zero is for unlimited amount</p>'">
                  <img src='./nexl/site/icons/info.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
        </jqxRibbon>

      </form>
    </jqxValidator>


    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="settingsWindow.close()"
                   [imgSrc]='"./nexl/site/icons/remove.png"'
                   [auto-create]="false"
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="save()"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/icons/save.png"'
                   #saveButton>
          Save
        </jqxButton>
      </div>


    </div>

  </div>
</jqxWindow>
