<jqxWindow #generateTokenWindow
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="420"
           [height]="140"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div>
    <img src="/nexl/site/images/token.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Generate token</span>
  </div>

  <div style="overflow: hidden;" #windowContent>

    <div>
      <div class="item" style="position: relative; top: 3px;">
        <jqxTooltip
          [position]="'mouse'"
          [autoHideDelay]="100000"
          [content]="'<p style=\'text-align: left;\'>Explanation about tokens goes here...</p>'">
          <img src='/nexl/site/images/tooltip.png'/>
        </jqxTooltip>
      </div>
      <div class="item" style="position: relative; top: 3px;">
        Username
      </div>
      <div class="item">
        <jqxInput
          #usernameRef
          name="username"
          [(ngModel)]="username"
          [height]="25"
        ></jqxInput>
      </div>
      <div class="item" style="position: relative; top: -3px;">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [auto-create]="false"
                   [textPosition]='"center"'
                   [disabled]="username === ''"
                   [imgSrc]='"./nexl/site/images/token.png"'
                   (click)="generateToken()"
                   #generateButton
        >
          Generate
        </jqxButton>
      </div>
      <div style="text-align: center;margin-bottom: 5px;">{{ token }}</div>
    </div>

    <div class="okButton">
      <jqxButton [height]='32'
                 [width]="94"
                 [textImageRelation]='"imageBeforeText"'
                 [auto-create]="false"
                 [textPosition]='"center"'
                 (click)="generateTokenWindow.close()"
                 [imgSrc]='"./nexl/site/images/ok.png"'
                 #okButton>
        Ok
      </jqxButton>
    </div>

  </div>
</jqxWindow>
