#auth-menu-container {
    float: right;
    padding-right: 15px;
    position: relative;
    top: 11px;
}

#auth-menu-login img {
    content: url(/assets/nexl/site/images/login.png);
    float: left;
    margin-right: 5px;
}

#auth-menu-register img {
    content: url(/assets/nexl/site/images/register.png);
    float: left;
    margin-right: 5px;
}
