<jqxWindow #webhooksWindow
           class="first-level-dialog"
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="790"
           [height]="330"
           [initContent]="initContent"
           (onOpen)="onOpen()"
>

  <div>
    <img src="./nexl/site/icons/webhook.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Webhooks</span>
  </div>

  <div>

    <div style="margin: 5px;">
      <div style="float:left">
        Click
        <jqxButton (click)="addNewItem()">here</jqxButton>
        to add new record&nbsp;
      </div>
      <div class="tooltip">
        <jqxTooltip
          [position]="'mouse'"
          [autoHideDelay]="999999999"
          [content]="'<p style=\'text-align: left;\'>You can also right click on a file or directory to create a webhook directly for selected path</p>'">
          <img src='./nexl/site/icons/info.png' style="position: relative; top: 3px;"/>
        </jqxTooltip>
      </div>

      <div style="clear: both; height: 5px;"></div>

      <jqxGrid
        #webhooksGrid
        [source]="webhooksDataAdapter"
        [columns]="webhooksColumns"
        [width]="'100%'"
        [height]="200"
        [columnsheight]="55"
        [columnsresize]="true"
        [filterable]="false"
        [sortable]="true"
        [editable]="true"
        [enablebrowserselection]="true"
        [rowsheight]="28"
      ></jqxGrid>
    </div>

    <div style="float:right;">
      <jqxButton [height]='32'
                 [width]="94"
                 [textImageRelation]='"imageBeforeText"'
                 [textPosition]='"center"'
                 [imgSrc]='"./nexl/site/icons/ok.png"'
                 [auto-create]="false"
                 (onClick)="webhooksWindow.close()"
                 #closeButton>
        Close
      </jqxButton>
    </div>

  </div>
</jqxWindow>
