<jqxExpander
  [height]="85"
  [showArrow]="false"
  [toggleMode]="'none'"
  #expressionArea
  [disabled]="true"
>

  <div>nexl expressions tester</div>

  <div class="nexl-expressions-container">
    <div>
      <div class="nexl-expression-label">
        <jqxTooltip
          [position]="'mouse'"
          [content]="'<p style=\'text-align: left;\'>nexl expression describes what exactly you need to retrieve from JavaScript file<br/>For example the <b>${count}</b> expression retrieves a value of <b>count</b> JavaScript variable from currently opened file<br/>nexl expressions can merge arrays, objects, produce XML, YAML and a lot more features<br/>See <a href=\'#\' onclick=\'showExamples()\'>examples</a><br/>See <a href=\'http:\/\/www.nexl-js.com\/expressions.html\' target=\'_blank\'>documentation</a></p>'"
          [closeOnClick]="false"
          [autoHide]="false"
          [autoHideDelay]="99999"
          [animationShowDelay]="400"
          [showDelay]="600"
          [trigger]="hover"
        >
          nexl expression
        </jqxTooltip>
      </div>

      <div style="width:calc(100% - 240px); height:25px;float: left;">
        <jqxComboBox
          #nexlExpression
          width="100%"
          [searchMode]="'startswith'"
          [dropDownVerticalAlignment]="'top'"
          [source]="[]" [selectedIndex]='0'
          (keypress)="onKeyPress($event)"
          [disabled]="true"
          (onkeydown)="onExpressionChange()"
        >
        </jqxComboBox>
      </div>

      <div class="nexl-expression-buttons" style="margin-left:4px;">
        <jqxButton
          #evalButton
          [width]='60'
          [height]='27'
          class="nexl-expression-buttons"
          [imgSrc]='"./nexl/site/images/eval.png"'
          (onClick)="eval()"
          [disabled]="true"
        >
        </jqxButton>
      </div>

      <div class="nexl-expression-buttons">
        <jqxButton
          #argsButton
          [width]='27'
          [height]='27'
          class="nexl-expression-buttons"
          [imgSrc]='"./nexl/site/images/args.png"'
          (onClick)="args()"
          [disabled]="true"
        >
        </jqxButton>
      </div>

      <div class="nexl-expression-buttons">
        <jqxButton
          #assembleButton
          [width]='27'
          [height]='27'
          class="nexl-expression-buttons"
          [imgSrc]='"./nexl/site/images/assemble.png"'
          (onClick)="assemble()"
          [disabled]="true"
        >
        </jqxButton>
      </div>

    </div>

    <div class="nexl-url-container">
      <div class="nexl-url-label">URL</div>
      <div>
        <jqxTooltip
          [content]="urlTooltip"
          [position]="'mouse'"
          [closeOnClick]="false"
          [autoHide]="false"
          [autoHideDelay]="99999"
          [animationShowDelay]="400"
          [showDelay]="600"
          [trigger]="hover"
          [height]="25"
        >
          <a href="#" (click)="onUrlClick()" target="_blank">{{ url }}</a>
        </jqxTooltip>
      </div>
    </div>

  </div>
</jqxExpander>

<jqxExpander
  height="100%"
  [showArrow]="false"
  [toggleMode]="'none'"
  [disabled]="true"
  #outputArea
>

  <div>Output</div>

  <div>
    <textarea readonly class="output-textarea">{{output}}</textarea>
  </div>
</jqxExpander>

<app-args-window #argsWindow (onArgs)="onArgs($event)"></app-args-window>
