<jqxWindow #permissionsWindow
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="600"
           [height]="400"
           [initContent]="initContent">

  <div>
    <img src="./nexl/site/images/permissions.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">nexl permissions</span>
  </div>

  <div style="overflow: hidden;" #windowContent>

    <jqxRibbon #ribbon
               [width]="'100%'"
               [height]="'calc( 100% - 50px )'"
               [auto-create]="false"
               [position]="'left'"
               [selectionMode]="'click'"
               [animationType]="'none'">

      <ul id="header" style="width: 150px;">
        <li>Admins</li>
        <li>Assign Permissions</li>
      </ul>
      <div>
        <app-admins #admins></app-admins>
        <app-assign-permissions #assignpermissions></app-assign-permissions>
      </div>
    </jqxRibbon>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [auto-create]="false"
                   [textPosition]='"center"'
                   (click)="permissionsWindow.close()"
                   [imgSrc]='"./nexl/site/images/close.png"'
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   [auto-create]="false"
                   (click)="save()"
                   [imgSrc]='"./nexl/site/images/save.png"'
                   #saveButton>
          Save
        </jqxButton>
      </div>


    </div>

  </div>
</jqxWindow>
