.jqx-laoder {
  z-index: 102 !important;
}

.jqx-loader-modal {
  z-index: 101 !important;
}

.jqx-window {
  z-index: 100 !important;
}

.jqx-window-modal {
  z-index: 99 !important;
}

.ace_editor {
  margin: auto;
  height: 100%;
  width: 100%;
}
