<div id="file-dialog">
    <div id="file-dialog-upper-line">
        <div id="file-dialog-mounts">
            <select>
                <option value="C:">C:</option>
            </select>
        </div>
        <div id="file-dialog-current-path">
            <input type="text" readonly="true">
        </div>
        <div id="file-dialog-root" title="Root directory"></div>
        <div id="file-dialog-level-up" title="Level up"></div>
    </div>

    <div style="clear:both;"></div>

    <div id="file-dialog-files-list">
        <ul></ul>
    </div>

    <div id="file-dialog-bottom-line">
        <div id="file-dialog-file-name">
            <label>File name : </label><input type="text">
        </div>
        <div id="file-dialog-buttons">
            <input type="button" id="file-dialog-open-button" value="Open">
            <input type="button" id="file-dialog-cancel-button" value="Cancel">
        </div>
    </div>
</div>