<jqxWindow #argsWindow
           [autoOpen]="false"
           [initContent]="initContent"
           [isModal]="false"
           [resizable]="false"
           [width]="390"
           [height]="200"
>

  <div>
    <img src="./nexl/site/images/args.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Arguments</span>
  </div>


  <div style="overflow: hidden;" #windowContent>
    content goes here...
  </div>
</jqxWindow>
