<jqxWindow #argsWindow
           [autoOpen]="false"
           [initContent]="initContent"
           [isModal]="false"
           [resizable]="false"
           [width]="420"
           [height]="300"
           (onOpen)="this.storeArgsWindow()"
           (onClose)="this.storeArgsWindow()"
           (onMoved)="onMoved()"
>

  <div id="argsWindow">
    <img src="./nexl/site/images/args.png" style="position: relative; top: 2px; margin-left: 3px;">
    <span style="position: relative; top: -1px;margin-left: 1px;">Arguments</span>
  </div>


  <div>
    <div style="margin: 5px;">
      <div style="float:left">
        Click
        <jqxButton (click)="addNewItem()">here</jqxButton>
        to add a new item&nbsp;
      </div>

      <div>
        <jqxTooltip
          [position]="'mouse'"
          [autoHideDelay]="10000"
          [content]="'<p style=\'text-align: left;\'>...</p>'">
          <img src='./nexl/site/images/tooltip.png' style="position: relative; top: 3px;"/>
        </jqxTooltip>
      </div>

      <div style="clear: both; height: 5px;"></div>

      <jqxGrid
        #argsGrid
        [source]="argsDataAdapter"
        [columns]="argsColumns"
        [width]="'100%'"
        [height]="'180px'"
        [filterable]="false"
        [sortable]="true"
        [editable]="true"
        (onCellvaluechanged)="onChange()"
      ></jqxGrid>
    </div>

  </div>
</jqxWindow>
