<jqxWindow #settingsWindow
           [autoOpen]="false"
           [isModal]="true"
           [resizable]="false"
           [width]="600"
           [height]="400"
           [initContent]="initContent"
           (onOpen)="isSaving = false"
>

  <div>
    <img src="/nexl/site/images/settings.png" style="margin-left: 5px;">
    <span style="position: relative; top: -5px;margin-left: 3px;">nexl settings</span>
  </div>

  <div class="container">

    <jqxValidator #validator [rules]="rules"
                  [animationDuration]="0"
                  [hintType]="'label'"
                  (onValidationSuccess)="onValidationSuccess($event)"
                  (onValidationError)="onValidationError($event)"
    >
      <form id='settingsForm' action="./">

        <jqxRibbon #ribbon
                   [width]="'100%'"
                   [height]="'315px'"
                   [auto-create]="false"
                   [animationType]="'none'"
                   [selectionMode]="'click'"
                   [position]="'left'"
                   (onSelect)="validate()"
        >
          <ul id="header" style="width: 150px;">
            <li>General</li>
            <li>Bindings & SSL</li>
            <li>Logger</li>
            <li>Callbacks</li>
            <li>UI</li>
          </ul>

          <div>
            <!-- ------------------------------------------------------------------------------ -->
            <!--General-->
            <div>
              <div style="margin-top: 5px;"></div>
              <!--nexl home dir-->
              <div class="item">
                <label>nexl home dir</label>
                <jqxInput
                  [disabled]="true"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'>nexl home directory contains nexl settings, authentication data and log file(s)<br/> nexl home directory can be specified as a run argument to nexl server in the following way:<br/> <span style=\'margin-left:30px; font-style: italic\'>nexl --nexl-home=/path/to/nexl/home/dir</span><br/> This argument might be usefull if you need to start multiple nexl server instances<br/> By default nexl server uses a [${HOME}/.nexl] directory </p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--nexl sources dir-->
              <div class="item">
                <label>nexl sources dir</label>
                <jqxInput
                  id="nexlSourcesDir"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'>nexl sources directory contains JavaScript files to be exposed by nexl server via REST<br/> Those files appear in [nexl sources explorer] window<br/> For example, the [weight] variable from [examples.js] file located in the nexl sources dir<br/> will be exposed via REST in the following way :<br/> <span style=\'margin-left:30px; font-style: italic\'>http://your-nexl-server:3000/examples.js?expression=${weight}</span> </p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--nexl sources path-->
              <div class="item" style="margin-top: 13px;">
                <label>nexl sources path</label>
                <jqxButton [height]='28'
                           [width]='40'
                           #openPathButton
                           [auto-create]="false"
                           [textPosition]='"center"'
                           (click)="path.open()"
                           style="position: relative; top: -3px;"
                           #nexlSourcesPath>
                  ...
                </jqxButton>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'>Directories listed in nexl sources path will be also exposed by nexl server via REST ( similarly to nexl sources dir )<br/> Files from those directories can be included to another nexl sources with @ directive </p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--nexl sources encoding-->
              <div class="item" style="margin-top: 5px;">
                <label>nexl sources encoding</label>
                <jqxDropDownList
                  [width]="width - 50"
                  [height]="25"
                  [dropDownHeight]="53"
                  [source]="encodings"
                  [selectedIndex]="0">
                </jqxDropDownList>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--HTTP timeout-->
              <div class="item">
                <label>HTTP timeout</label>
                <jqxInput
                  #httpTimeout
                  id="httpTimeout"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>

              <div style="clear: both"></div>

              <!--LDAP auth-->
              <div class="item">
                <label>LDAP authentication</label>
                <jqxInput
                  id="ldapAuthentiction"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
            </div>

            <!-- ------------------------------------------------------------------------------ -->
            <!--Bindings & SSL-->
            <div>
              <div style="margin-top: 5px;"></div>
              <!--HTTP binding-->
              <div class="item">
                <label>HTTP binding</label>
                <jqxInput
                  #httpBinding
                  id="httpBinding"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--HTTP port-->
              <div class="item">
                <label>HTTP port</label>
                <jqxInput
                  #httpPort
                  id="httpPort"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <hr/>

              <!--HTTPS binding-->
              <div class="item">
                <label>HTTPS binding</label>
                <jqxInput
                  #httpsPort
                  id="httpsBinding"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--HTTPS port-->
              <div class="item">
                <label>HTTPS port</label>
                <jqxInput
                  #httpsPort
                  id="httpsPort"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--SSL key location-->
              <div class="item">
                <label>SSL key location</label>
                <jqxInput
                  #sslKeyLocation
                  id="sslKeyLocation"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--SSL cert location-->
              <div class="item">
                <label>SSL cert location</label>
                <jqxInput
                  #sslCertLocation
                  id="sslCertLocation"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>

            </div>

            <!-- ------------------------------------------------------------------------------ -->
            <!--Logger-->
            <div>
              <div style="margin-top: 5px;"></div>
              <!--Log file location-->
              <div class="item">
                <label>Log file location</label>
                <jqxInput
                  #logFileLocation
                  id="logFileLocation"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Log level-->
              <div class="item" style="margin-top: 10px;">
                <label>Log level</label>
                <jqxDropDownList
                  [width]="width - 50"
                  [height]="25"
                  [dropDownHeight]="130"
                  [source]="logLevels"
                  [selectedIndex]="0">
                </jqxDropDownList>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Rolling file size-->
              <div class="item">
                <label>Rolling file size</label>
                <jqxInput
                  #rollingFileSize
                  id="rollingFileSize"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Max rolling files-->
              <div class="item">
                <label>Max rolling files</label>
                <jqxInput
                  #maxRollingFiles
                  id="maxRollingFiles"
                  [width]="width"
                  [height]="25">
                </jqxInput>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>
            </div>
            <div>
              <div>Callbacks</div>
            </div>

            <!-- ------------------------------------------------------------------------------ -->
            <!--UI-->
            <div>
              <div style="margin-top: 5px;"></div>

              <!--Autoscroll from source-->
              <div class="item">
                <label>Autoscroll from source</label>
                <jqxCheckBox
                  style='margin-left: 10px; float: left;'
                  [width]='120'
                  [height]='25'>
                </jqxCheckBox>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Autoscroll to source-->
              <div class="item">
                <label>Autoscroll to source</label>
                <jqxCheckBox
                  style='margin-left: 10px; float: left;'
                  [width]='120'
                  [height]='25'>
                </jqxCheckBox>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>

              <!--Theme-->
              <div class="item" style="margin-top: 10px;">
                <label>Theme</label>
                <jqxDropDownList
                  [width]="width - 50"
                  [height]="25"
                  [dropDownHeight]="130"
                  [source]="themes"
                  [selectedIndex]="0">
                </jqxDropDownList>
              </div>
              <div class="tooltip">
                <jqxTooltip
                  [position]="'mouse'"
                  [autoHideDelay]="100000"
                  [content]="'<p style=\'text-align: left;\'></p>'">
                  <img src='/nexl/site/images/tooltip.png'/>
                </jqxTooltip>
              </div>
              <div style="clear: both"></div>
            </div>
          </div>
        </jqxRibbon>

      </form>
    </jqxValidator>

    <div class="buttons">
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="save()"
                   [auto-create]="false"
                   [imgSrc]='"./nexl/site/images/save.png"'
                   #saveButton>
          Save
        </jqxButton>
      </div>
      <div class="button">
        <jqxButton [height]='32'
                   [width]="94"
                   [textImageRelation]='"imageBeforeText"'
                   [textPosition]='"center"'
                   (click)="settingsWindow.close()"
                   [imgSrc]='"./nexl/site/images/close.png"'
                   [auto-create]="false"
                   #cancelButton>
          Cancel
        </jqxButton>
      </div>

    </div>

  </div>
</jqxWindow>
