.container {
  margin-left: 25px;
}

.item {
  width: 380px;
  float: left;
  margin-top: 10px;
}

.item label {
  width: 180px;
  display: inline-block;
  float: left;
}

.tooltip {
  display: inline-block;
  position: relative;
  left: -7px;
  top: 14px;
}
